<a href="https://colab.research.google.com/github/phuodtr/Pythonbasics/blob/main/bai3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Tạo một biến x kiểu List rỗng

In [1]:
x = []

2) Thêm giá trị 18 vào x

In [2]:
x.append(18)

3) Thêm giá trị "Huế" vào x

In [8]:
x.append('Huế')

4) Tạo 1 List  y

In [10]:
y = [12, 45, -1, -0.56, "abc"]

5) Thêm y vào x

In [11]:
x.extend(y)

6) Xuất giá trị của x ra màn hình

In [13]:
print(x)

[18, 'Huế', 12, 45, -1, -0.56, 'abc']

7) In ra màn hình giá trị của phần tử cuối cùng và phần tử đầu tiên của x

In [15]:
print(x[-1],",",x[0])

abc , 18

8) In ra màn hình giá trị của phần tử đầu tiên đến phần tử thứ 5 của x

In [16]:
print(x[0:5])

[18, 'Huế', 12, 45, -1]

9) In ra màn hình giá trị của phần từ thứ 3 đến cuối cùng của x

In [17]:
print(x[2:])

[12, 45, -1, -0.56, 'abc']